.heading {
 text-align: start;
}
.breed-photos {
    display: flex;
    flex-wrap: wrap;
    justify-content: start;
}

.breed-photos .image {
    border-radius: 10px;
    margin: 10px;
    width: 200px;
    height: 200px;
}