.breed {
    display: flex;
    justify-content: space-around;
}

.breed .photo {
    width: 40%;
    text-align: start;
}

.breed .details {
    width: 60%;
}

.breed .image {
    border-radius: 20px;
    width: 300px;
    height: 300px;
}