.list {

}
.list ul {
  padding-left: 0px;
  margin-top: 0px;
  z-index: 10;
}
.item {
    margin: auto;
    height: 40px;
    width: 300px;
    border-top: 1px solid grey;
    border-left: 1px solid grey;
    border-right: 1px solid grey;
    list-style: none;
    background-color: whitesmoke;
}
.item:last-child {
    border-bottom: 1px solid grey;
}

.item:hover {
    background-color: gainsboro;
}